[2017-05-09 12:37] fmehta opened #1 "Uninstall script in 0.9.0 has illegal newline."
Hi

It looks like the uninstall script in 0.9.0 does not work under MacOSx due to a wrong new-line Character.

[code]

This error seems to crop up again and again. Would there be a way to eliminate it systematically? e.g. A script that does this conversion for the appropriate OS before an install?

Best regards,
Farhad Mehta

[2017-05-10 08:45] markusschaden commented on #1
Hi Farhad

Thanks for letting us know.,
This kind of bugs will be gone, end of this week, as soon as we have the native downloading and extracting
implemented.

Cheers
Markus

[2017-05-10 08:48] fmehta commented on #1
Great.
Thanks,
Farhad

On 10 May 2017, at 10:45, Markus Schaden <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Farhad

Thanks for letting us know.,
This kind of bugs will be gone, end of this week, as soon as we have the native downloading and extracting
implemented.

Cheers
Markus

—
You are receiving this because you authored the thread.
Reply to this email directly, view

[2017-05-12 08:22] markusschaden commented on #1
Fixed with 0.10.0 release

[2017-05-12 08:22] #1 closed

[2017-05-22 18:43] alnoob opened #2 "Sidebar status doesn't update"
Hey,

cool extension.
However my sidebar state never changes to 'Verified' or 'Not Verified'. It remains 'Verifying'.

[2017-05-22 18:55] markusschaden commented on #2
Hey alnoob

Could you please send me the file to verify that behavior.
Did you try it with a easy program?

Thanks
Markus

[2017-05-22 19:10] alnoob commented on #2
Hey,

I was testing with super simple programs.
Say
`method simpleAssertion() {
    assert 1 == 2;
}`

i just realized its a bit more complicated. Once i change 2 to 1 the "Problems" tab updates immediately and the squiggly lines disappear. Also 'Verifying' will change to 'Verified' at some point. However the time it takes is more than a minute often.

[2017-05-22 19:15] markusschaden commented on #2
Thanks for the fast response.
This is a behavior which we haven't encountered yet.
Could you please send me your operating system and which DafnyServer version you're using.

Can you verify the program verification with Dafny.exe directly. Just open a command prompt and execute `dafny.exe simpleassert.dfy` or `mono dafny.exe simpleassert.dfy`

[2017-05-22 19:26] alnoob commented on #2
OS is Win10, i ran the command: C:\Users\\...\\.dafny\dafny\dafny .\simple.dfy

[code]

[2017-05-22 19:31] markusschaden commented on #2
Right know you're both clueless what the problem could be.
We will contact you as soon as possible.
We'll have tomorrow a exercise session with some students. Maybe we'll see a similar problem which we really could look into what the problem is.

[2017-06-08 23:03] alnoob commented on #2
Good job,
the issue seems to be resolved. Though i got to say that i haven't been using the editor too much the last couple of days. So im not a 100% percent sure atm. Anyways thanks for the rapid fix!

[2017-06-09 09:26] markusschaden commented on #2
Nice to hear that our latest release solved your problem.

[2017-06-09 09:26] #2 closed

[2017-06-13 10:19] fmehta opened #3 "More relevant error message in case .Net environment not installed"
At the moment, in case the user wishes to use the plugin on a computer without the .Net framework, an error message  pops up to the effect of "Dafny server not installed". It would be a good idea to first check if the .Net framework is currently installed, and if not, display a message that reflects this and advises the user what to do.

Reported by Markus Stolze

[2017-06-19 12:22] misto opened #4 "Lots of duplication in Readme and client/Readme"
There's a lot of duplication in the two readmes. It seems that the client/Readme is used for the marketplace entry. Could we remove the duplicated parts from the root Readme and instead focus more on  development/release/contributions there? What do @markusschaden and @ValisStigma think?

[2017-08-08 14:10] fmehta opened #5 "More informative warning in case a file, and not a workspace is opened."
Hello,

Currently, a user who opens a single file, and not a workspace gets the following warning:

"Warn: Please use a workspace (File - Open Folder). Otherwise some features aren't working properly"

Please modify this warning to be more informative. E.g.:

"Warn: Open a workspace (File - Open Folder) instead of single files in order to XXX. More details can be found in XXX"

Thanks,
Farhad

[2017-08-15 12:16] pipeaesac opened #6 "Dafny installation not working properly on MacOS"
When installing the plugin in VSCode, a message indicates that in order for the plugin to work, Dafny has to be installed. When accepting the prompt to install, VSCode starts the installation. Then, after an apparently successful installation, the prompt reappears.

[2017-08-15 12:17] pipeaesac commented on #6
I am using macOS Sierra (Version 10.12.6)

[2017-09-01 17:40] jerickmsft opened #7 "Dafny install fails on system with multiple volumes"
My user directory is C:\users\jerick, but Dafny attempts to download to D:\users\jerick\

From the output console:
[code]

When I manually downloaded that URL to "d:\Users\jerick\dafny.zip" the installation succeeded. However, the .dafny folder was also created at d:\Users\jerick\.dafny, not c:\users\jerick\.dafny

I think only HOMEPATH is being used, but HOMEDRIVE needs to be used as well.

[code

[2017-09-06 17:13] wilcoxjay opened #8 "Attempting to verify any sufficiently long file causes VS Code to think the server has crashed"
Opening any sufficiently large Dafny file causes the language server to believe DafnyServer has crashed. On my machine, files longer than about 12KB trigger the bug.

I believe this is due to incorrect processing of [writeable.write](https://nodejs.org/api/stream.html#stream_writable_write_chunk_encoding_callback)'s return value in [the language server](https://github.com/FunctionalCorrectness/VS-

[2018-01-24 20:01] #8 closed

[2018-01-25 08:44] kevinsullivan commented on #6
Be sure that Mono is installed before installing Dafny.

[2018-01-25 08:56] kevinsullivan opened #10 "Dafny compiler warnings appear to prevent Dafny program from running in VSCode"
My Dafny program verifies, but when I try to "Compile and Run", I still get an error in VSCode, namely, "Errors compiling program into basic-dafny.exe." I debugged this a little by running the compiler in a terminal window in VSCode. Here's the output. You can see that the program does verify, but the compiler nevertheless reports "Errors compiling program into basic-dafny.exe. The "errors" that i

[2018-01-25 09:07] fmehta commented on #10
Thanks for your comment. Could you please provide a source file and exact steps that can be used to reproduce this behaviour?

[2018-01-25 14:06] kevinsullivan commented on #10
I'm running up-to-date plugin and VSCode on an up-to-date OSX machine. The file I'm trying to compile and run is -- in still draft version -- just a quick "getting started" pedagogical program. It's attached. To replicate the problem, add it to a folder and try to compile and run it. *Thanks* Kevin

--- the program ---

/*
Dafny support C-style comments
*/

// Like this

/*
Dafny supports pure fun

[2018-01-31 18:29] kevinsullivan opened #11 "TypeError: Cannot read property 'fileName' of undefined"
As I work away in the Dafny VSCode extension, on pretty simple files, I repeatedly get the following error message. I am posting this issue now and will update it as I gain more insight into conditions that lead to this error.

OS = OSX High Sierra (10.13)
Plugin version = 0.10.10
Dafny version = Hard to tell, no obvious -version compiler option, but current as of January 2018

TypeError: Cannot r

[2018-01-31 18:32] kevinsullivan opened #12 "Request textDocument/completion failed."
As I'm working along on a few pretty simple Dafny files in the VS Code extension, I repeatedly get the following error. I am posting here to document the issue, and will update this issue as I gain insight into the conditions that lead to this error.

[Error - 13:14:26] Request textDocument/completion failed.
  Message: Request textDocument/completion failed with message: Cannot read property 'get

[2018-02-03 15:44] kevinsullivan opened #14 "The Dafny Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
Got this error when editing the code below.

Running Up to date VSCode and Dafny VSCode plugin 0.10.10 on up to date OSX.

========

Here's the output:

Error: Verification request failed of task: ${request}
    at good.serverProc.stdin.write (/Users/sullivan/.vscode/extensions/FunctionalCorrectness.dafny-vscode-0.10.10/server/process/process.js:56:27)
    at afterWrite (_stream_writable.js:383:3)

[2018-02-03 18:03] kevinsullivan commented on #14
Deleting the method without a body at the end of the imperative.dfy program seems to have "solved" the problem. Have a look at the error coming back from the compiler due to a missing method body. (Does the language actually define this as an error?) And see whether this error is being mishandled by VSCode.

[2018-02-05 03:58] kevinsullivan opened #15 "VSCode plug-in shows incorrect server status after server crash"
See previous issue about server crashing 5 times and not restarting. It appears that the server will not restart, even when commanded to. Even so, the VSCode status bar at the bottom of the screen shows a status of "Server Up." Fixing the problem requires a restart of VS Code, but if whatever problem in the code caused the crash hasn't been fixed, the thing will just crash again, continuing to sho

[2018-02-06 21:51] kevinsullivan opened #16 "Dafny VSCode Plugin Uninstaller Hangs"
Trying to narrow down the causes of the "Server Crashed 5 Times" bug (see other issue) I tried to uninstall the plug-in. What I got a was a hung uninstaller. Killing and restarting VSCode showed that the plugin is still installed. This is clearly a bug.

[2018-02-06 22:41] kevinsullivan commented on #14
Ok, well, I've tried to narrow the problem down a little further. The code compiles without warnings or errors at the command line. If I delete a long-ish procedure from the code, then the extension works. Doesn't matter which procedures I delete. My current hypothesis is that an undersized buffer is being used to transmit code from VSCode to DafnyServer and that my code is too long (probably due

[2018-02-06 23:24] jamesbornholt commented on #14
It's possible this is the same issue as #8; there hasn't been a new extension release since the fix for that (#9) was merged.

[2018-02-07 03:10] kevinsullivan commented on #14
jamesbornholt, thanks. indeed it looks to be the same problem exactly. this bug is a show-stopper for some reasonable uses of VS Code. sounds like it's time for a new release.

[2018-02-07 15:26] kevinsullivan commented on #14
Closing due to redundancy with #8 fixed in #9.

[2018-02-07 15:26] #14 closed

[2018-02-10 16:45] kevinsullivan opened #17 "Stale "has errors" status"
The error reported here is actually due to the activation of a slight "design problem" in the language. Closing this issue and posting an issue for the root cause separately.

VSCode seems to think that a file that just verified (see bottom of screen) has errors (red underline where the file is included). Note: the "Request document text/completion" is a different VSCode problem reported under a d

[2018-02-10 16:50] #17 closed

[2018-02-17 04:17] kevinsullivan opened #18 "References not counted correctly"
The plug-in inserts references counts before method and related definitions, but they are not accurate. I haven't determined all the details, but there's no question that in some cases, the plug-in is showing zero references when there are clearly references from other files in the same folder.

[2018-02-17 04:19] kevinsullivan opened #19 "Error highlighting state not updating correctly after fixes to code"
I haven't ascertained all the details, but it's clear that in some cases, error indications (in the form of red squiggly underlines) in the IDE are not being updated properly when problems are fixed in code in other files. Even when the compiler runs successfully, error indicators sometimes remain. The one way I've found to clear them is to exit and restart the IDE.

[2018-02-19 23:26] kevinsullivan opened #20 "Extension deletes files irrecoverably"
A student reported to me about a week ago that he had created a file of class notes and that it simply disappeared on him. I did't disbelieve him, but I also couldn't confirm that it was due to a fault in the plug-in. Now I can.

I just saw it myself. After working for several hours in the IDE (unfortunately without a commit), I got a "server failed 5 times and won't restart" error, which I've see

[2018-02-21 22:09] kevinsullivan opened #21 "Plugin fails silently when mono not installed on Linux, old versions of mono don't work either"
Per title. Workaround is to install latest version not from OS repo but from mono site.

[2018-04-14 21:52] kevinsullivan opened #22 "CodeLens functionality annotates words within comments"
And it shouldn't.

[2018-05-08 14:36] fmehta opened #23 "Counterexamples not shown"
The `dafny.showCounterExample` command seems to have no effect. This has been noticed after updating to version 0.11.1 of the plugin and version 2.1.1 of the Dafny server.

OS: MacOS 10.13.4

[2018-05-16 11:49] pipeaesac opened #24 "Cannot find test module"
Running the client tests with `npm test` from the /client directory fails with the following output:

[code]

All components were successfully built using the documentation in README.md.

Environment: macOS High Sierra 10.13.4

[2018-05-22 14:05] AmirHMousavi opened #25 "DafnyServer process quit unexpectedly; attempting restart"
at VSCode startup `DafnyServer process quit unexpectedly; attempting restart`.  after some seconds it says `DafnyServer restart succeeded` but it actually does not work and verifies everything by `proof obligations:0`.
F5 key for compile also does not print anything in OUTPUT

[2018-05-25 21:19] bxie commented on #12
also getting this error.
actual result: UI shows my dafny code being verified without errors when errors are certainly present (as verified on rise4fun).
expected: verification fails and errors, failures shown because dafny code has bugs

OS = OSX Sierra (10.12)
Plugin version = 0.11.1
VS Code v 1.23.1

[Error - 14:17:37] Request textDocument/definition failed.
  Message: Request textDocument/defi

[2018-06-06 11:51] pipeaesac commented on #6
That was exactly the problem. Thank you Kevin.

[2018-06-06 11:51] #6 closed

[2018-06-06 12:02] pipeaesac commented on #23
I can confirm the issue on MacOS 10.14 Beta, plugin version 0.11.1. and Dafny server version 3.5.0 (?). Labelling it as a bug.

[2018-06-06 12:05] pipeaesac commented on #4
I already removed a lot of the duplicated documentation. Will add a more fitting description for the root repository soon.

[2018-06-12 11:08] pipeaesac commented on #4
Duplication in READMEs and no longer needed repositories removed. Repositories renamed.

[2018-06-12 11:08] #4 closed

[2018-06-12 12:44] pipeaesac commented on #22
Hey @kevinsullivan , can you provide a small example for me to verify? I would like to look into this issue.

[2018-06-14 07:55] pipeaesac commented on #23
While debugging the server on the counterModel request, I was able to get a counter example twice. This happened only by accident and the only similarity between the two successful requests was the huge delay introduced in the server by a breakpoint. It seems that the Dafny binary takes a very long time to calculate the counter example. The example code I used was the one from the README:

[code]

[2018-06-14 09:54] kevinsullivan commented on #23
I read somewhere that showing of counterexamples has been disabled due to
performance concerns, but can be enabled by the setting of a configuration
parameter. Sorry, I can't provide more information now, as I'm somewhere
with very poor internet connectivity.

On Thu, Jun 14, 2018 at 3:55 AM Mario Meili <notifications@github.com>
wrote:

[2018-06-15 07:12] fmehta opened #29 "Link a recommended Dafny Server version to one version of the Dafny-VSCode plugin"
Currently, the latest version of the Dafny Server is installed by this plugin. In case there is a new version of the Dafny Server, the user is prompted to perform an update.

Risk: The newest version of the Dafny Server may not work well with the current version of the Dafny-VScode plugin.

Solution: Link a recommended Dafny Server version to one version of the Dafny-VSCode plugin. Installation of

[2018-06-18 08:42] fmehta commented on #23
Dear Kevin,
You are right. Counterexamples take some time and processing power to generate. Therefore we decided that we should be able to toggle them with VS Code using the function keys. This is intended behaviour and worked well. This was instantaneous for the `Abs` example that @pipeaesac mentioned earlier in the thread.

Currently (i.e. after the update to the new Dafny version and the new Pl

[2018-06-21 07:08] pipeaesac commented on #25
I can reproduce this issue on both my Windows 10 Desktop and in my Windows 10 Virtual Machine. @AmirHMousavi is it possible you have a Windows machine as well?

[2018-07-19 06:03] seanmcl opened #33 "Autocomplete doesn't work on new install"
I installed Dafny and VSCode from scratch.  While Dafny itself seems to be functioning fine, the auto-complete fails with the following message.

[code]

The error repeats whenever I type '.'  How can I start debugging this?
<img width="971" alt="screen shot 2018-07-19 at 7 03 01 am" src="https://user-images.githubusercontent.com/110393/42924389-d4f66470-8b21-11e8-8277-98d4d92a127b.png">

[2018-07-20 09:37] fmehta commented on #33
Hi Sean,
Thanks for posting this issue. From the looks of it, it seems to be a duplicate of #12. I am therefore closing this thread. In case you have any other relevant information, please use #12.

Farhad

[2018-07-20 09:37] fmehta commented on #33
Duplicate of #12.

[2018-07-20 09:37] #33 closed

[2018-09-05 23:15] ruimaranhao commented on #23
Is there any update on this? Is there any way to force the counter example to be shown?

[2018-09-06 06:29] fmehta commented on #23
Hi ruimaranhao,
Sorry, there is currently nothing further on this issue that I can report. I have added the "help wanted" tag to it, so feel free to look into it if you have the time. Directions for contributing are on the GitHub pages.
Best regards,
Farhad

[2018-10-18 21:40] hardliner66 commented on #19
I just had a similar problem. I think the plugin (or maybe dafny itself) doesn't correctly determine if the file has changed or not if you make a change inside a lambda.

Given the following code:
[code]

If you change `x => x` to `x => x - 1` at line 1 in main, vscode should show a red underline at line 3, but doesn't. If you comment out line 2, vscode correctly updates and shows the red underlin

[2018-12-03 15:03] fabianhauser commented on #16
Thanks for reporting this issue. Could you provide some more details? I was not able to reproduce the error on my test setups. Thanks!

[2018-12-05 12:59] #3 closed

[2018-12-05 14:36] #7 closed

[2018-12-05 14:40] fabianhauser commented on #10
I took a look at the error and this is indeed a bug in the upstream dafny compiler.

Would be great if you could open an issue there!

[2018-12-05 14:40] #10 closed

[2018-12-10 19:17] ferry- opened #37 "This is a fork"
Hi,
Original author of https://github.com/ferry-/dafny-vscode here. While you have expanded my work to include many more features, you did not start off from scratch. Your git log even shows my commits
https://github.com/DafnyVSCode/Dafny-VSCode/commits/develop?after=ad2bd9e62133cb619eda1879431104b748b0ca55+420 at the very beginning, which you included into this repository without my permission.
Y

[2018-12-11 19:52] fmehta commented on #37
Dear Jonathan
I am the person who supervised the students who worked on the first versions of this plugin and am currently trying to keep it alive so that I can use it for my course. I knew that the students were building upon the work done by you (which is, as you also mention quite evident from the commit logs and fork). I assumed that the students were in contact with you regarding their work.

[2018-12-11 19:52] #37 closed

[2018-12-13 10:13] fabianhauser commented on #22
Hi @kevinsullivan

I was not able to reproduce the error. If the problem please exist, feel free to reopen this issue. Thanks!

Fabian

[2018-12-13 10:13] #22 closed

[2018-12-14 16:02] fabianhauser commented on #23
I added a workaround to the upstream bug that ships with the newest release (`v0.14.2`).
Could you try if that works for you @ruimaranhao?

[2018-12-14 16:02] #23 closed

[2018-12-14 16:16] #11 closed

[2019-01-10 09:42] fabianhauser opened #39 "Fix Deprecated VSCode-API Calls"
Currently, multiple deprecation messages are shown:

[code]

[code]

These calls should be fixed according to the Microsoft documentation.

[2019-01-10 16:12] hexchain commented on #12
I had no problem with the extension until I killed DafnyServer once, then I ran into this. Code actions are also gone.

[2019-02-05 12:32] fabianhauser opened #40 "Rename monoPath configuration option"
Currently, the configuration option for a custom mono installation is called `dafny.monoPath`, which is confusing, as it requires the path *and* filename to `mono` and not only the path.

I suggest to rename it to `dafny.monoExecutable` and update the "README.md"-description.
Note that the old configuration option should still work as fallback.

[2019-02-17 23:54] ssaavedra opened #41 "Allow to customize parameters passed to verify in DafnyServer"
It would be great to be able to configure at the editor's settings.json the parameters that are passed to DafnyServer on verify.

Currently this is implemented on `server/backend/dafny/dafnyServer.js` as:

[code]

I'm manually changing on the extension code the `args: []`, in my case to add `args: ['/vcsLoad:1']`, but it would be great if that was exported to be user-configurable.

[2019-02-18 09:35] fabianhauser commented on #41
Hi @ssaavedra

That sounds like a great addition. Would you mind opening a pull request for that? 🙂

Adding the setting should be possible by extending [the Dafny Settings Interface](https://github.com/DafnyVSCode/Dafny-VSCode/blob/1f612f675d2315e19c46c32f85b501d50efd1bb2/server/src/backend/dafnySettings.ts) and adding it to the [package.json](https://github.com/DafnyVSCode/Dafny-VSCode/blob/devel

[2019-02-18 15:20] ssaavedra commented on #41
Thanks for the cue, I just opened #42 :wink:

I have no idea about VSCode extensions (I've using the editor for a couple of hours, have been using Emacs and still doing so), so please feel free to review any issues.

Also, it seems that configuration changes are not picked up automatically by the extension and that it instead needs to be reloaded (by means of `> Reload window`). I suppose that is

[2019-02-19 13:10] fabianhauser opened #43 "Configuration hot-reloading does not work"
If a user changes the settings, the server should be reloaded with the new settings. Currently, this is not the case (see [server.ts](https://github.com/DafnyVSCode/Dafny-VSCode/blob/develop/server/src/server.ts#L172)).

[2019-02-19 13:30] ssaavedra commented on #41
Since you just opened #43 which is the only remaining question here (now that #42 is merged), I think this issue can be now closed :)

[2019-02-19 13:30] fabianhauser commented on #41
Great, thanks for your contribution! Your changes are included in the newest release (v0.16.0) which should be public in a couple of minutes 😊

I opened a new issue #43 to address the configuration reloading (seems that it was not properly implemented all along...)

[2019-02-19 13:31] #41 closed

[2019-03-10 23:40] samuela opened #44 ""Request textDocument/codeLens failed.""
[code]

I'm on macOS 10.14.2, VSCode Version 1.33.0-insider (1.33.0-insider), and correctnesslab.dafny-vscode 0.16.0.

[2019-03-12 00:08] samuela opened #45 "Request textDocument/definition failed."
This shows up in the output of the Dafny Language Server:
[code]

[2019-03-18 14:22] fabianhauser commented on #45
Duplicate of #12

[2019-03-18 14:22] #45 closed

[2019-03-18 14:24] fabianhauser commented on #44
Thanks for reporting this issue @samuela. Can you give any details under which circumstances/actions the error happened?

[2019-03-18 18:43] samuela commented on #44
@fabianhauser Unfortunately I'm not exactly sure when/how this error popped up.

[2019-03-28 15:32] fabianhauser commented on #39
The `previewHtml` command [will be disabled in the vscode march release](https://github.com/Microsoft/vscode/issues/62630#issuecomment-459898226)

[2019-03-29 13:33] #40 closed

[2019-04-04 13:53] fabianhauser commented on #39
To use the dotfile support in the futures, larger reimplementation efforts with the new WebView API would have been required. As not many users utilised  this feature (and the graph can still be generated manually on the command line), we decided to remove it for now (see c777256).

[2019-04-04 13:53] #39 closed

[2019-04-05 13:50] fabianhauser commented on #12
@kevinsullivan @bxie @sorawee @hexchain Could you check if you still experience this bug in the current release (0.17.0)? The problem was probably fixed in 0e499bf3b86424204ee6eb9e18dbd020a22ad9ae.

[2019-04-05 13:54] fabianhauser commented on #20
As I really do not see any way in which the extension could delete a file,
and there was no feedback since January, I am closing this issue for now.

Feel free to reopen if you have more details or see it happening again!

[2019-04-05 13:54] #20 closed

[2019-04-05 13:57] fabianhauser commented on #16
Closing, as the error could not be reproduced and no further information is available.

[2019-04-05 13:57] #16 closed

[2019-04-05 20:37] hexchain commented on #12
Unfortunately yes, I still experience this bug.

[2019-04-18 22:04] RustanLeino opened #46 "Multi-line information not shown"
The plug-in shows informational messages both in the "Problems" pane and as green underlines in the source text. However, when this information from Dafny has several lines, the actual multi-line message is replaced by "Dafny VSCode".

Repro:

    class {:autocontracts} MyClass {
    }

This highlight "MyClass", but each of the three messages just says "autocontracts: Dafny VSCode". When running D

[2019-05-20 09:12] fmehta opened #47 "Syntax highlighting different if predicate in parentheses."
It appears that syntax highlighting for "ensures" uses a different color if the predicate that follows is in parentheses.

Here is a screenshot:

<img width="355" alt="Image" src="https://user-images.githubusercontent.com/20208754/58009790-7d54e980-7aef-11e9-8110-daa686ab4277.png">

This behaviour is also observed for "requires", "invariant", and "decreases".

Best regards,
Farhad.

[2019-05-20 11:11] fabianhauser commented on #47
Note that the Syntax highlighting is based on https://github.com/tvi/sublime-dafny, so if this is fixed, we should open a pull request there.

[2019-05-23 06:08] omer-g opened #48 ""& was unexpected at this time" error in compile and run (F5)"
When I try to "Compile and Run" a Dafny program in VS Code (F5 button), there is an error in the run command.

The command that appears in the terminal is:
`& "c:\Users\admin\short\d\a.exe"`

The error following is:
`& was unexpected at this time.`

The code compiles fine and if I run the same command without `&` it executes properly.

How to recreate:
1) Write a Dafny program that compiles
2) Pre

[2019-07-04 06:11] emmet-m opened #49 "Vscode extension does not install dafny correctly"
Hi All,

I just installed the vscode extension on Ubuntu 16.04, when prompted if I wanted to install Dafny I got the following error message:

[code]

Furthermore, when I enter in a DafnyServer.exe path incorrectly, the extension asks me if I would like to install dafny (as opposed to showing an error that the path is invalid/doesn't contain the server).

I managed to install it by downloading the

[2019-07-08 08:23] emmet-m commented on #49
Just a follow up, I've tried this again on Ubuntu18.04 on my desktop computer and I get the same error

[2019-07-11 09:50] fabianhauser commented on #49
Hi @emmet-m

Thanks for reporting. This error is due to the very recent move of the Dafny-Repository into its own organisation (now https://github.com/dafny-lang/dafny), which must be corrected in the plugin.

[2019-07-11 12:08] fabianhauser commented on #49
I just released version 0.17.1, which includes the new repository url.

@emmet-m: could you please check if the new release fixes the issue?

[2019-07-11 12:54] emmet-m commented on #49
Hi Fabian, that indeed works! Thank you very much :)

[2019-07-11 12:54] #49 closed

[2019-07-17 13:57] csgordon opened #51 "Dafny-VSCode doesn't connect to language server under Linux"
I just tried the extension on Windows yesterday, and it installed a Dafny distribution and was up and running as soon as it finished downloading --- brilliant!

Under Linux today, I'm not having such luck.  I installed the extension itself without issue, and was prompted to install Dafny upon opening a dfy file.  I clicked yes, it seemed to download as expected... then asked me again if I wanted t

[2019-07-18 08:51] fabianhauser commented on #51
It seems that the Plugin is not able to start the Dafny Language Server on your system. As far as I can tell, this should be independent of your default shell (where/how exactly do you have that configured?).

To make sure this is not a Dafny issue, could you try to run the Dafny Language Server manually?

[code]

and then insert a verification request (be careful to copy paste each line separatel

[2019-07-18 14:57] csgordon commented on #51
[code]
I get the same error running via bash:
[code]

I've not used Mono much myself (mostly .NET Framework on Windows and .NET Core elsewhere), but I installed Mono the typical way for a Debian derivative (apt-get).

[2019-07-18 15:26] fabianhauser commented on #51
I'd suggest you try installing a new upstream Mono version from https://www.mono-project.com/download/stable/#download-lin-ubuntu, as many distributions ship rather old mono versions.

The error is coming from the Dafny compiler itself, so you would have to open an issue at the [Dafny Project](https://github.com/dafny-lang/dafny/) if the problem persists. They might be able to help you further 🙂

[2019-07-18 15:26] #51 closed

[2019-07-18 16:44] csgordon commented on #51
Thanks!

[2019-08-28 20:27] mackees commented on #25
I have this problem as well, with looping quit and restart (Mac OS). Is there any progress on this issue?

[2019-09-03 12:44] fabianhauser commented on #25
Currently, nobody is actively working on this issue, so feel free to pick it!

[2019-10-16 06:43] johnwickerson opened #52 "Error: starting dafny client failed"
I had Dafny working nicely in VS Code (on Mac OS X). Today, VS Code seems to have installed itself an upgrade, and now Dafny is no longer working. Specifically, I get the following error message:

I tried running `./dafny_server` from the command line, as suggested [here](https://github.com/DafnyVSCode/Dafny-VSCode/issues/51#issuecomment-512726671) and it seemed to be working fine.

Could somebody

[2019-10-16 12:26] fabianhauser commented on #52
I don't think that this is a Dafny VSCode issue but rather a VSCode bug. If you search for this error, you find many issues like [this one](https://github.com/redhat-developer/vscode-yaml/issues/117).
The solution there was reinstalling VSCode and clearing the VSCode settings, could you try that?

[2019-10-18 11:35] johnwickerson commented on #52
Thanks! This worked. I followed [this advice](https://medium.com/@jimkang/complete-uninstall-remove-vscode-mac-5e48bef3bdec) for how to uninstall VSCode and clear all its settings.

[2019-10-18 11:35] #52 closed

[2019-10-25 06:28] alexsurelee opened #53 "Causing ligatures to render incorrectly"
Using MS's cascadia code font with ligatures enabled, this extension being enabled appears to influence how the ligatures render in `.dfy` files.

e.g. extension disabled
<img width="502" alt="image" src="https://user-images.githubusercontent.com/11603625/67548150-98421e80-f75d-11e9-8e7a-8d4701af5bf0.png">

vs extension enabled
<img width="424" alt="image" src="https://user-images.githubuserconten

[2019-10-25 11:36] fabianhauser commented on #53
Hi @alexsurelee

I'm not aware of any explicit changes we do with fonts or ligatures, but it might be that the code highlighting plays a role here. Does the bug occur in Dafny source only or VSCode wide?

It seems that the VSCode team is currently working on language specific ligatures in https://github.com/microsoft/vscode/issues/10435#issuecomment-545513026, which will probably be shipped with t

[2019-10-25 22:12] alexsurelee commented on #53
Only occurs in `.dfy` files, and only when this extension is enabled, so definitely appears to be somehow related to this.

Interesting, wonder if that'll fix it!

[2019-11-08 15:07] reisier opened #54 "Offline install // No network install"
When trying to install extension offline without network, always fails!
OUTPUT
============================
{ Error: connect ETIMEDOUT 140.82.118.5:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1113:14)
  errno: 'ETIMEDOUT',
  code: 'ETIMEDOUT',
  syscall: 'connect',
  address: '140.82.118.5',
  port: 443 }
{ Error: connect ETIMEDOUT 140.82.118.5:443
    at TCPConnectWrap.afterCon

[2019-11-11 09:41] fabianhauser commented on #54
Hi @reisier

When exactly does this message appear? During the plugin installation or when you open the first Dafny file?

Thanks,
Fabian

[2019-11-11 10:52] reisier commented on #54
Hello, It's when opening the first dafny file.

[2019-11-11 12:35] fabianhauser commented on #54
On the first execution, the extension tries to download the newest Dafny Version; the client should handle that gracefully, which does not seem to be the case...

[2020-01-25 01:23] theodore-norvell opened #55 "Key not found"
I get the following error message from the Dafny Language Server.

[code]

![image](https://user-images.githubusercontent.com/4512459/73114263-81919c00-3ef3-11ea-981a-3b3a8d5a46ea.png)

I'm not sure if this is a bug or just noise.

This is happening on both Windows and Mac with version 0.17.1.  My VSCode version on the Mac is 1.41.1 and on Windows it's also 1.41.1.

[2020-01-26 09:51] fabianhauser commented on #55
Hi @theodore-norvell , thanks for reporting this issue!

This is indeed a bug, most likely in the caching of the symbol table in the language server of the application. (Probably connected to #12.)
We are currently working on a reimplementation of the language server, so this will hopefully be resolved with the new version 🙂

I'll leave this issue open until the new language server is merged.

[2020-04-13 16:50] yannickmoy opened #57 "VSCode fix incorrectly inserts computed decreases"
On the code below, Dafny extension for VSCode proposes a fix to insert the decreases es,unit on method OptimizeAndFilter, but it inserts it between List and <Expr> instead of after List<Expr>.

[code]

[2020-04-14 11:05] fabianhauser commented on #57
Thanks for reporting this issue @yannickmoy. We are currently working on a major release of the plugin (better integrated to the main dafny project), which should make a clean implementation of this much easier 🙂

[2020-06-05 13:10] davidcok opened #60 "VSCode should report Dafny version and output"
As a help to understanding/debugging problems with VSCode or Dafny, VSCode should make visible (1) the version of the Dafny executable being run and (2) the output that dafny produces (from which VSCode scrapes the problems/warnings/info). An easier and clearer mechanism to change the dafny executable would also be helpful.

[2020-06-30 06:22] davidstreader opened #61 "Just starting to use dafny but DafnyServer process quit unexpectedly"
Hi
     Running Macos 10.14.6.  Loaded VSCode and Dafny all worked well for some hours. Next day restarted VSCode and opened Dafny file. but server not found so I went to SETTINGs and added the  _Absolute path to the DafnyServer.exe binary  and then the file was automatically checked. But alas now two error messages keep flashing
**_DafnyServer process quit unexpectedly_**; ..
**Restart succeeded*

[2020-06-30 08:46] fabianhauser commented on #61
Hi @davidstreader

This could be related to `Please use a workspace (File or Folder)` - the current plugin does not work well with single files. Could you try opening the whole folder (*File*->*Open Folder*)?

Could you also check which mono version you have?

[2020-06-30 18:11] davidstreader commented on #61
Hi
   I am new to this. So starting from scratch I **Add a workspace folder**  then add a new file and now am told

Error - 5:59:11 AM] Request textDocument/completion failed.
  Message: Request textDocument/completion failed with message: Cannot read property 'getText' of undefined
  Code: -32603

The only referance to mono I can find is:
Dafny: Mono Executable
Mono executable with absolute path.

[2020-06-30 18:34] davidstreader commented on #61
I removed the old version of visual studio code and re downloaded it. Then added a new workspace and a new file that when I saved it as two.dfy the same errors kept flashing.

[2020-06-30 20:06] davidstreader commented on #61
deleated ~/.vscode   restarted VSCode > new workspace add file and VSCode gets stuck displaying the first error despite having corrected it and having saved the file with the corrections.
![image](https://user-images.githubusercontent.com/2947174/86171901-9b55a000-bb71-11ea-9c26-4cc77f79013e.png)

Originally this worked just fine so I assume that there is something left on my machine
    How do I

[2020-07-01 11:52] fabianhauser commented on #61
No worries, the current stable version of the plugin is a bit buggy. We are currently working on a new version (Preview), but that doesn't yet work on macOS I'm afraid. (You did install the Stable Plugin "Dafny", right?)

Could you try installing the newest Mono version from https://www.mono-project.com/download/stable/ ?

[2020-07-07 21:25] davidstreader commented on #61
Sorry for delay. Starting teaching Dafny next week so bit of a panic.
Our problem was solved by turning off automatic counter example
![image](https://user-images.githubusercontent.com/2947174/86844824-b6d62300-c0fc-11ea-9cc9-247b39d9d463.png)

This is a shame as it looked like a useful feature.

[2020-07-20 06:11] davidstreader opened #63 "assert fails to respond to !false in the same way as if !false"
Hi  with the code below

function method palin(a:seq<int>) :bool {
    forall i:int :: (0<=i && i<(|a|/2)) ==> a[i]==a[|a|-i -1]
}
method Main() {
    var xe:seq<int> := [0,1,2,3,0];
    var se:seq<int> := [0,1,2,1,0];
    var ohb := palin(se);
    var ohx :bool := palin(xe);
    print "ohb= ",ohb,"\n";
    print "ohx= ",ohx,"\n";
    assert ohb;
    //assert !ohx;
}

when run the output is:
    o

[2020-08-13 00:35] acioc opened #64 "Dafny for VSCode times out as idle (verified) instead of failing verification"
Per request from @RustanLeino, I am creating this issue in this repo.

The dafny-lang/dafny repo received the following issue: https://github.com/dafny-lang/dafny/issues/415

Upon investigation, it appears the submitted code times out on the command line but goes from "Verifying" to "Idle" in VSCode without noting the timeout/failure.

Please see the linked issue for more information/ discussion.

[2020-08-18 09:38] kjx commented on #29
Given that the latest release of the dafny-server just broke things, this would be great to have fixed

[2020-08-19 09:35] kjx opened #66 "VS code Dafny broken - will no longer install"
Dafny-VScode will no longer install.  On MacOS at least, it stops at 4% "Extracting Dafny" with the following error  - Seems related to #29. With no option to specify a different Dafny, there's no way to get a working system, or get back a working system after agreeing to an "upgrade".

Extracting files...
Error extracting /Users/kjx/.vscode/extensions/correctnesslab.dafny-vscode-0.17.2/dafny.zip:

[2020-08-19 16:18] prashantbarca commented on #66
Yes, I am facing the same issue on VSCode 1.47.3 as well as 1.48.

[2020-08-19 21:34] brady-ds commented on #66
In a class I'm teaching, we found that this was a problem for many students on Windows and macOS.

Our workaround on Windows was:
1.  Delete the contents of `%HOMEPATH%\.vscode\extensions\correctnesslab.dafny-vscode-0.17.2\dafny`, if any.
2.  Manually download Dafny from [its "Releases" page on GitHub](https://github.com/dafny-lang/dafny/releases).
3.  Right-click on the archive in File Explorer,

[2020-08-20 06:32] kjx commented on #66
so I've tried that just now - I'm glad it works for you but it doesn't work for me.

I can unpack the dafny.zip myself alright, or copy from the main installation zip
either way, when I restart VS Code, I get asked to install dafny again.
If I say yes, we're back to where we started;
if I say no, the highlighting works but not the actual checking.
I'm on VScode 1.48 and macos 10.15.6 - J

[2020-08-20 12:21] fabianhauser commented on #66
Thanks for your reports!

I assume this is related to the release of the latest preview release of Dafny and the automatic downloader. We will look into pinning the version to the latest stable release for the time beeing...

[2020-08-20 12:23] fabianhauser commented on #66
Related Issue: #29

[2020-08-20 12:35] kjx commented on #66
@fabianhauser - no problem, it's a great tool, and we have 90 students depending on it in our course in NZ.
It's worked out really well so far!

yes that seems to be it.  ideally Rustan would have a "stable" release branch or whatever git does for that.

the right thing™ is probably to make ReleaseURL an extension setting like the existing Dafny path etc;
that way people can point the plugin at wh

[2020-08-20 12:55] fabianhauser commented on #66
@RustanLeino is it okay if I mark the 3.0.0 release on in the dafny-lang/dafny Repo as a "Preview Release"? We could filter out pre-releases on our part.

[2020-08-20 12:59] fabianhauser commented on #66
@kjx Absolutely, I agree. We are currently working on a major new release of the plugin, were this should be supported 🙂

[2020-08-20 13:03] brady-ds commented on #66
@kjx I failed to mention that we were downloading version 2.3.0, not the prerelease.  Sorry about that.  Given the discussion above, perhaps my omission was why the workaround didn't work for you?

[2020-08-20 13:11] kjx commented on #66
pretty sure I tried with both 2.3.0 & 3.0.0 pre.
the problem seems to be that VS doesn't recognise that the installation is complete,
even after I manually replace the subdirectory.  So it just asks me to install  Dafny again.

[2020-08-20 13:30] prashantbarca commented on #66
I can verify that the solution @brady-ds suggested does work on Ubuntu versions 16.04, 18.04, and 20.04! Thanks!

[2020-08-20 13:39] kjx commented on #66
I bet it's Mac weirdness I don't have time to hunt down now.

there seems to be stuff in ~/Library/Application Support/Code/User/ too, but I don't know how that works,
nor why that would let  restoring a .vscode directory works but patching it doesn't.

I'm on VScode 1.48 and macos 10.15.6 - J

[2020-08-20 16:47] brady-ds commented on #66
@kjx For one of my students on macOS just now we had to
[code]
and then restart VSCode.  Maybe worth trying?

[2020-08-20 23:01] hmijail commented on #66
@brady-ds 's solution worked for me with Dafny 3.0.0 pre-release 0a on macOS 10.15.6.
Note that `./dafny /?` fails in macOS 10.15's zsh because it tries to parse the `/?` as a wildcard. `./dafny` and `./dafny "/?"` worked for me.

For completeness, I also tried directing the Dafny Extension's path to a Dafny 2.3.0 installed by Homebrew. It didn't work, no idea why.

[2020-08-21 00:28] hmijail commented on #66
Correction: Dafny 3.0.0. pre-release _seems_ to work, but looks like there is some weirdness going on - proofs that worked now fail. I'm too newbie to make sense of it.
Dafny 2.3.0 doesn't show that weirdness. VSCode will suggest updating on startup, but you can just answer "no".

[2020-08-21 00:41] kjx commented on #66
So I tried again on a fresh account; same problem. I unpack dafny but the extension still doesn't recognise dafny is there. dunno why

[2020-08-21 00:42] kjx commented on #66
@hmijail  I also tried to point to other dafnys -  also didn't work.

[2020-08-21 08:05] kjx commented on #66
So: I'm back going again!   Reinstalling VS Code or just the plugin doesn't seem to work on the Mac, but this worked repeatably for me, based on https://www.thetopsites.net/article/53839847.shtm, and having a working dafny installed somewhere else (2.3.0 from home-brew, or 3.0.0.20820 from GitHub zip)

1. Quit vscode
2. Clear our *all* user information I could find
rm -fr ~/Library/Preferences/com

[2020-09-17 17:42] mrchristensen commented on #25
I also was having this same issue (on a Windows 10 system).  I found, while trying to fix the issue, is that in my 'C:\Users\user\.vscode\extensions' folder I had two folders for the DafnyVS extension: _correctnesslab.dafny-vscode-0.17.2_ and _correctnesslab.dafny-vscode-0.18.0_.

These didn't get removed when I uninstalled the extension.  So I deleted those folders and reinstalled the plugin and

[2020-09-18 08:53] mackees commented on #25
Thanks for the info. I don’t see these folders on my Mac right now, but I’ll look further.

Kees
On 17 Sep 2020, 19:42 +0200, Matt Christensen <notifications@github.com>, wrote:

[2020-10-02 20:41] jorge-jbs opened #68 "Standalone language server"
I would like to have Dafny support in an editor that supports the LSP (Kakoune). The language server that is developed here seems to only work under VS Code. How can I have a standalone server executable from this codebase? Is it even possible? Thanks!

[2020-10-07 07:15] fabianhauser commented on #68
Hi @jorge-jbs

With the implementation in this repository, it is currently not easily possible to add another LSP-Client. However, we are currently working on a new Language Server; I hope we can release a fir

[2020-10-07 07:16] fabianhauser commented on #68
(keeping this open until we are there.)

[2020-11-02 02:31] losfair opened #69 "Support multiple files in a project"
Hi,

I'm trying to use the extension on a Dafny project with multiple files, but it appears that verification is only done on a single file and inter-file dependencies lead to errors.

Did I miss something or Dafny-VSCode doesn't support multiple file workspaces yet? Is it possible to add support for that?

[2020-11-02 10:35] fabianhauser commented on #69
Hi @losfair

It should be possible to use multiple files with the plugin, but with the current version the verification is limited to a single file.

We are working on a major new release of the plugin and language server to support (among other things) multi-file verification, I assume that we will be able to publish a first version towards the end of the month.

[2021-01-26 20:13] StarGazerM opened #72 "dotnet3.1 installed but still can't find on linux"
Hi:
    I am using manjaro linux and install this plugin but when I open a .dfy file, error pops

   my dotnet runtime installation looks like this and I can build dafny from source
[code]

[2021-01-27 09:47] camrein commented on #72
Please note that the repository of the latest version is now https://github.com/DafnyVSCode/ide-vscode
To answer your question: Although you have a .NET Core 3.1 runtime installed, it is not the required ASP.NET Core runtime as the error states. The plugin searches for an entry like the following:
[code]

As I don't know manjaro linux, I'll give you a short example for ubuntu:
[code]

Otherwise co

[2021-01-27 18:35] StarGazerM commented on #72
ah thanks, successfully installed!

[2021-01-27 18:35] #72 closed, assigned to nobody

[2021-03-03 00:59] DXCanas commented on #44
Getting this same error - VSCode installed on Windows and accessing another machine using the Remote-SSH package.

Version 2.7 of the extension is installed on the target machine.

[2022-10-22 17:01] tflinkow opened #84 "Dafny extension does not work anymore - Request textDocument/codeAction failed."
I had Dafny working in VS Code just fine for a long time. I have no idea what happened, but something happened while working on some Dafny files, causing the extension to not verify anything anymore. It just crashes with the following exception (even when creating a new file and just saving it as a `.dfy` file without content.

I tried reinstalling the extension multiple times and also removed VS

[2022-10-22 23:27] tflinkow commented on #84
wrong repository, I apologise

[2022-10-22 23:27] #84 closed, assigned to nobody